<%- include ../layouts/cabecera.ejs %> 
<br/><br/>
<div class="card">
    <div class="card-header">
        CREACIÓN DE HORARIO DE MEDICAMENTOS
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos del Horario</h5>
        <p class="card-text"></p>
        <form action="/horarios/guardar" method="post"> 
            <div class="mb-3">
                <label for="nombre" class="form-label">Usuario</label>
                <select name="nombre" id="nombre" class="form-select" tabindex="1"> 
                        <option value="" selected disabled hidden>Seleccione una opción</option>
                <% horarios.forEach((ficha) => { %>
                    <option value="<%= ficha.id_ficha %>"> <%= ficha.nombre%> </option>
                <% }) %> 
            </select>
        </div>

            <div class="form-group">
                <label for="my-input">Medicamento</label>
                <input id="my-input" class="form-control" type="text" name="medicamento" required>
            </div>

            <div class="form-group">
                <label for="my-input">Dosis</label>
                <input id="my-input" class="form-control" type="text" name="dosis" required>
            </div>

            <div class="form-group">
                <label for="my-input">Motivo</label>
                <input id="my-input" class="form-control" type="text" name="motivo" required>
            </div>


        
            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-primary" href="http:/citas">Cancelar</a>
        </form>
    </div>
</div>


<%- include ../layouts/pie.ejs %> 